@media (max-width: 20px) {
    
}

html{
    background-color: #37630e;
}
img{
    width: 50vw;
    margin: 0 auto;
    display: block;
}
area{
    cursor: pointer ;
}
textarea{
    resize: none;
    background-color: rgba(180, 180, 180, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 1vw;
    color: black;
    display: block;
    margin: 0 auto;
    font-size: 3.5vw;
    width: 20vw;
    height: 3.5vw;
    scrollbar-width: none;
    text-align: center;
}