/* global */
html{
    background-color: black;
    font-family: COMIC, sans-serif;
}
h1{
        font-family: Impact, sans-serif !important;
        font-size: 6vw;
        color: red;
        text-align: center;
}
h2{
    font-size: 3vw;
    color: lightgrey;
    text-align: center;
}
p{
    font-size: 2.5vw;
    color: lightgrey;
    text-align: center;
}
a{
    color: lightgrey;
    text-decoration: none;
}

/* class */
.secret_button:hover{
    cursor: text;
}

/* id */
#hint_Button{
    position: fixed;
    top: 10vw;
    right: 4vw;
    border-width: 0.5vw;
    border-color: white;
    border-radius: 0.5em 0.8em;
    background-color: black;
    color: red;
    font-size: 3.2vw;
    cursor: pointer;
}