html{
    background-color: black;
    color: white;
    font-family: COMIC, sans-serif;
h1{
    color: #FF0000;
    font-family: Impact, sans-serif;
    font-size: 350%;
}
a:hover{
    cursor: pointer;
}