html{
    background-color: black;
    color: white;
    font-family: COMIC, sans-serif;
}
h1{
    color: red;
    font-family: Impact, sans-serif;
    font-size: 350%;
}
a{
    color: white;
    text-decoration: none;
}
.secret_button:hover{
    cursor: text;
}